*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
aside{
  height: 650px;
  width: 25%;
  background-color: mediumaquamarine;
}
.caixa{
  height: 40px;
  width: 310px;
  border: 2px white;
  margin-left: 15px;
}
::placeholder{
  color: gray;
  font-size: 15px;
  font-style: italic;
}
.caixabranca{
  width: 310px;
  height: 270px;
  background-color: white;
  margin-left: 15px;
  margin-top: 25px;
}
.h1{
  background-color: black;
  height: 35px;
  width:310px ;
  color: white;
  padding-top: 5px;
}

aside div.caixabranca ul {
  font-size: 16px;
  padding-left: 23px;
}
aside div.caixabranca ul li{
  font-size: 16px;
  padding-left: 10px;
}